<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <title>Login - DNI Cultural</title>
  <link rel="stylesheet" href="../../../../static/css/main.css" />
  <link rel="stylesheet" href="../../../../static/css/login.css" />
</head>
<body>

  <div id="navbar"></div>

  <main>
    <h2>Iniciar sesión</h2>
    
    <p><strong>Usuario válido:</strong> admin</p>
    <p><strong>Contraseña válida:</strong> 1234</p>

    <form>
      <label for="usuario">Usuario:</label><br>
      <input type="text" id="usuario" name="usuario" required><br><br>

      <label for="clave">Contraseña:</label><br>
      <input type="password" id="clave" name="clave" required><br><br>

      <!-- Simular login correcto -->
      <a href="../user/dashboard-usuario.html"><input type="button" value="Ingresar como ADMIN"></a>

      <!-- Simular login incorrecto -->
      <a href="verificar_login.html"><input type="button" value="Ingresar con error"></a>
    </form>
  </main>

      <script src="../../../../static/js/main.js"></script>

  <div id="footer"></div>
  
</body>
</html>

