<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <title>ABM Artistas - DNI Cultural</title>
   <link rel="stylesheet" href="../../../../static/css/main.css" />
</head>
<body>
  <header>
     <div class="logo">
      <img src="../../../../static/img/logo_sgo.png" alt="Logo Santiago del Estero" />
    </div>
     <nav>
      <ul>
        <li><a class="menu" href="../user/dashboard-usuario.html">Volver🏠</a></li>
       
      </ul>
    </nav>
  </header>
  <main>
    <h2>Gestión de Artistas</h2>
    <form>
      <label>Nombre Artístico:</label><br><input type="text"><br>
      <label>Disciplina:</label><br><input type="text"><br>
      <label>Correo:</label><br><input type="email"><br><br>
      <input type="submit" value="Registrar Artista">
    </form>

    <h3>Lista de Artistas</h3>
    <table border="1">
      <tr><th>Nombre</th><th>Disciplina</th><th>Correo</th><th>Acciones</th></tr>
      <tr><td>Juan Pérez</td><td>Música</td><td>juan@gmail.com</td><td>Editar / Eliminar</td></tr>
    </table>
  </main>
  <footer>
    <div id="footer"></div>

  <script src="../../../../static/js/main.js"></script>
  </footer>
</body>
</html>
