<header class="navbar">
    <div class="logo">
      <img src="../../../../../static/img/logo_sgo.png" alt="Logo Santiago del Estero">
    </div>
    <nav>
      <ul>
        <li><a class="menu" href="../public/Index.html">Inicio</a></li>
        <li><a class="menu" href="../public/busqueda.html">Explorar Artistas</a></li>
        <li><a class="menu" href="../../pages/auth/registro.html">Crear cuenta</a></li>
        <li><a class="menu" href="../../pages/auth/login.html">Iniciar Sesion</a></li>
        <li><a class="menu" href="../public/wiki.html">Wiki de artistas</a></li>
      </ul>
    </nav>
  </header>
  