<header class="navbar">
    <div class="logo">
      <img src="../../../../../static/img/logo_sgo.png" alt="Logo Santiago del Estero">
    </div>
    <nav>
      <ul>
        <li><a class="menu" href="../public/Index.html">Inicio 🏠</a></li>
        <li><a class="menu" href="../public/busqueda-artista.html">Explorar Artistas 🔍</a></li>
        <li><a class="menu" href="../../pages/auth/registro-artista.html">Registrarse 📝</a></li>
        <li><a class="menu" href="../../pages/auth/login.html">Ingreso ✅</a></li>
        <li><a class="menu" href="../public/wiki-artistas.html">Biblioteca 📚</a></li>
      </ul>
    </nav>
  </header>
  