<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil del Artista</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="stylesPerfil.css">
</head>
<body>

    <!-- Cabecera del sitio -->
    <header>
        <div class="logo">
            <img src="../logo_sgo.png" alt="Logo Santiago del Estero">
        </div>
        <nav>
            <ul>
                <li><a class="menu" href="/Index.html">Inicio 🏠</a></li>
                <li><a class="menu" href="/templates/BusquedaArtistas.html">Búsqueda Por Artista 🔍</a></li>
                <li><a class="menu" href="/templates/RegistroArtista.html">Registrarse 📝</a></li>
                <li><a class="menu" href="/templates/formulario.html">Ingreso✅</a></li>
                <li><a class="menu" href="/templates/wiki.html">Biblioteca 📚</a></li>
              </ul>
        </nav>
      </header>

    <!-- Perfil del Artista -->
    <section class="artist-profile">
        <h2>Perfil del Artista</h2>
        
        <div class="profile-header">
            <div class="profile-image">
                <img src="../ramongomezcornet.png" alt="Foto del Artista">
            </div>
            <div class="profile-info">
                <h3>Ramon Gómez Cornet</h3>
                <p><strong>Género:</strong> Pintura</p>
                <p><strong>Año de Nacimiento:</strong> 1898</p>
                <p><strong>Ubicación:</strong> Santiago del Estero</p>
                <p><strong>Descripción:</strong>fue un artista plástico y docente santiagueño, considerado precursor de la pintura moderna argentina. Nació en la ciudad de Santiago del Estero el 1 de marzo de 1898, hijo de Ramón Gómez y de Rosario Cornet Palacio.
                    Se casó con Argentina Rotondo y tuvo dos hijas: Rosario y Adelina. Falleció en la ciudad de Buenos Aires el 9 de abril de 1964.
                    
                    </p>
            </div>
        </div>

        <div class="artworks">
            <h3>Obras destacadas</h3>
            <div class="artwork">
                
                <img src="../santiaguenos.png" alt ="Obra 1">
                <p>Título: "Santiagueños"</p>
                <p>Año: 1927</p>
            </div>
            <div class="artwork">
                <img src="../la_urpila1.png" alt="Obra 2">
                <p>Título: "La Uripila"</p>
                <p>Año: 1946</p>
            </div>
            <!-- Más obras -->
        </div>

        <div class="contact-info">
            <h3>Contacto</h3>
            <p><strong>Email:</strong> artista@correo.com</p>
            <p><strong>Teléfono:</strong> +54 9 3804 123456</p>
        </div>
    </section>

    <!-- Pie de página -->
    <footer>
        <p>© 2025 DNI Cultural | Todos los derechos reservados 📜</p>
    </footer>

</body>
</html>
