<header class="navbar">
    <div class="logo">
      <img src="/img/logo_sgo.png" alt="Logo Santiago del Estero">
    </div>
    <nav>
      <ul>
        <li><a class="menu" href="/index.html">Inicio 🏠</a></li>
        <li><a class="menu" href="/pages/public/BusquedaArtistas.html">Búsqueda Por Artista 🔍</a></li>
        <li><a class="menu" href="/pages/auth/RegistroArtista.html">Registrarse 📝</a></li>
        <li><a class="menu" href="/pages/auth/login.html">Ingreso ✅</a></li>
        <li><a class="menu" href="/pages/public/wiki.html">Biblioteca 📚</a></li>
      </ul>
    </nav>
  </header>
  